/* PART A (SELECTORS) */
#mainTopic {
    color: blue;
}
* {
    text-align: center;
}
h1,h3,h5 {
    font-family: georgia;
}
.para{
    color: white;
    background-color: cornflowerblue;
}
div , button {
    color: azure;
    background-color: purple;
}
button:hover {
    background-color: yellow;
    color: blue;
}
p1 , p3 {
    color: yellow;
}
h1::first-letter {
    color: red;
}
#yes:checked + label {
    color : black;
}