 h1 {
   color: #b92b27;
}
 #signup {
   color: black;
   background-color: blue;
}
.follow{
   background-color: white;
   color: red;
}
.upvote {
   background-color: chartreuse;
} 
  /* descendant selector*/
   .para a {
   color: orange;
   }
 .upvote + button {
   background-color: cornflowerblue;
 }
 /*child combinator*/
 div > input {
background-color: darkseagreen;
 }